button {
  display: flex;
  gap: 7px;
  padding: 7px 2px;
  color: #FFFFFF;
  font-size: 18px;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid transparent;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  cursor: pointer;
}

#btn-icon {
  width: 24px;
  height: 24px;
}

@media (max-width: 768px) {
  button {
    font-size: 16px;
  }

  button > span {
    display: none;
  }

  #btn-icon {
    width: 20px;
    height: 20px;
  }
}
