button {
  display: flex;
  gap: 7px;
  padding: 7px 10px;
  color: #FFFFFF;
  font-size: 18px;
  background-color: #424242;
  border: none;
  border-radius: 8px;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
}

button:hover {
  background-color: #4f4f4f;
}

#btn-icon {
  width: 24px;
  height: 24px;
}

@media (max-width: 768px) {
  button {
    font-size: 16px;
  }

  #btn-icon {
    width: 20px;
    height: 20px;
  }
}
