.card-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 270px;
  padding: 20px;
  color: #FFFFFF;
  background-color: transparent;
  border: 2px solid #FFFFFF;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  transition: all 0.4s ease;
}

.card-container:hover {
  transform: scale(1.05);
}

.card-img {
  width: 100px;
  margin-bottom: 24px;
}

.card-title {
  font-size: 24px;
  font-weight: bold;
}

.card-subtext {
  text-align: center;
  font-size: 14px;
  font-weight: normal;
}

@media (max-width: 768px) {
  .card-img {
    width: 60px;
    margin-bottom: 16px;
  }

  .card-title {
    font-size: 18px;
  }

  .card-subtext {
    font-size: 12px;
  }
}
