#option-container {
  display: flex;
  gap: 7px;
  width: fit-content;
  color: #FFFFFF;
  font-size: 1rem;
  padding: 10px 15px;
  border: 1px solid #FFFFFF;
  background-color: transparent;
  align-items: center;
  cursor: pointer;
}
