#search-container {
  display: flex;
  position: relative;
  gap: 20px;
  flex-direction: column;
  align-items: center;
}

#search-input-container {
  display: flex;
  gap: 10px;
  width: 50%;
  padding: 10px;
  background-color: #000000;
  border: 1px solid #FFFFFF;
  align-items: center;
}

#search-left-icon {
  width: 22px;
  height: 22px;
}

#search-input {
  width: 100%;
  font-size: 16px;
  color: #FFFFFF;
  border: none;
  outline: none;
  background: none;
}

#search-right-icon {
  width: 22px;
  height: 22px;
  transition: opacity 0.4s ease
}

#search-results-container {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
  align-items: center;
}

#search-results-found {
  font-size: 18px;
}

#search-no-results {
  font-size: 20px;
  margin-top: 30px;
}

@media (max-width: 768px) {
  #search-input-container {
    width: 80%;
  }
}
