#search-results-container {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  align-items: center;
}

p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 10;
  overflow: hidden;
}
