#content {
  width: 100%;
  height: 100%;
  padding: 20px 15px;
  color: #FFFFFF;
  background-color: #000000;
  box-sizing: border-box;
  overflow: hidden auto;
}

#content-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('images/background.jpg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  filter: brightness(0.3);
  user-select: none;
  z-index: 0;
}
